.carousel{
    margin-top: 10px;
    /* position: absolute;
    height: 100%; */
}

.carousel img {
    filter: blur(4px);
}

.carousel-caption {
    /* position: relative; */
    /* background: silver; */
}

.carousel-caption h3 {
    color: black;
    font-size: 50px;
}

.carousel-caption a {
    color: red;
    font-size: 50px;
}

.carousel-caption a:hover {
    color: black;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-indicators {
    filter: invert(100%);
}